  
  /* @media (max-width: 768px) {
    .home-heading {
      margin-top: 8rem;
    }
    .dp {
        margin-top: 2rem; 
      }
      .About {
        padding-top: 2rem; 
      }
      
  }
   */
   .exper-ience{
    margin-top: 50px;
   }
   #nab{
    margin-bottom: 40px;
   }